<% if current_user.liked_by?(@product.id) %>
  <td>
    <%= link_to destroy_like_path(@product.id), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn">いいね外す</i>
    <% end %>
    <%= @product.likes.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_like_path(@product.id), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn">いいね</i>
    <% end %>
    <%= @product.likes.count %>
  </td>
<% end %>