<%= render "shared/header" %>
<div class='box' id="top">
  <div class='photo-list'>
      <p class='photo-title'>Photo List</p>
    <div>
      <ul class='item-lists'>
      <% @products.each do |product| %>
          <li class='list'>
            <%#= link_to item_path(item.id), method: :get do %>
            <div class='item-img-content'>
              <%= image_tag product.image, class:"item-img" %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= product.text %>
              </h3>
            </div>
          </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>

