/* 一覧タイトル */
.box-title{
  height: 60px;
  width: 100vw;
  border-top: solid 5px #284dbd;
  border-bottom: solid 5px ;
}

.photo-title {
  color: #e7a01c;
  text-align: center;
  padding: 1rem 2rem;
  color: #fff;
  background: #015dac;
  background-image: radial-gradient(#0175d5 13%, transparent 13%), radial-gradient(#0175d5 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  font-size: 30px;
  font-weight: bold;
  height: 400px;
  width: 100vw;
}
/* //一覧タイトル */

.box {
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.photo-post{
  border: 1px solid blue ;
  background-color: blue;
  color: white;
  text-align: center;
}

.photo-login {
  text-decoration: none;
}

.user-name {
  text-decoration: none;
}

.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
}

.sign-up {
  text-decoration: none;
}

.photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 400px;
  width: 100vw;
}

.photo-top {
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 400px;
  width: 100vw;
}

.item-lists {
  display: flex;
}