/* 一覧タイトル */
.box-title{
  height: 60px;
  width: 100vw;
  border-top: solid 5px #284dbd;
  border-bottom: solid 5px ;
}

.photo-title {
  color: #e7a01c;
  text-align: center;
  padding: 1rem 2rem;
  color: #fff;
  background: #015dac;
  background-image: radial-gradient(#0175d5 13%, transparent 13%), radial-gradient(#0175d5 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  font-size: 30px;
  font-weight: bold;
  height: 400px;
  width: 100vw;
}
/* //一覧タイトル */

.box {
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.photo-post{
  border: 1px solid blue ;
  background-color: blue;
  color: white;
  text-align: center;
}

.photo-login {
  text-decoration: none;
}

.user-name {
  text-decoration: none;
}

.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
}

.sign-up {
  text-decoration: none;
}

.photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 100vh;
  width: 100vw;
}

.photo-top {
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 400px;
  width: 100vw;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-name {
  text-align: center;
}

.tag-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.item-tag {
  text-align: center;
  text-decoration: none;
  margin-right: 2vw;
  font-weight: bold;
  padding: 1px 3px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(226, 61, 94);
}