
 
/* 一覧タイトル */
.box-title{
  height: 60px;
  width: 100vw;
  border-top: solid 5px #284dbd;
  border-bottom: solid 5px ;
}

.photo-title {
  color: #e7a01c;
  padding: 0.5em 0;
  text-align: center;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  font-size: 20px;
  font-weight: bold;
  height: 400px;
  width: 100vw;
}
/* //一覧タイトル */

.box {
  background-color: yellow;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.photo-post{
  border: 1px solid blue ;
  background-color: blue;
  color: white;
  text-align: center;
}

.photo-login {
  text-decoration: none;
}

.user-name {
  text-decoration: none;
}

.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
}

.sign-up {
  text-decoration: none;
}

.photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 400px;
  width: 100vw;
}

.photo-top {
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  height: 400px;
  width: 100vw;
}

.item-lists {
  display: flex;
}