/* 投稿の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fa-angle-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 300px;
}

.fa-angle-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 300px
}

.previews {
  width: 40vw;
  height: 40vh;
  object-fit: contain;
}

.like-button {
  margin-top: 20vh;
}


.item-red-btn {
  background-color: rgb(43, 190, 87);
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
}

.item-show-two {
  display: flex;
  margin-left: 60%;
}
.item-destroy {
  background-color: rgb(43, 190, 87);
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  margin-right: 3vw;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #fff;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  padding: 5px;
  border: 1px solid #251f15;
  width: 50vw;
  height: 15vh;
}

.genre-show {
  margin-bottom: 2vh;
}
.tag_tag_list {
  font-size: large;
  margin-right: 10px;
}

/* /投稿の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comments {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #3cce96;
  border: 1px solid #3cce96;
  color: #fff;
  width: 30%;
  min-width: 150px;
  font-size: 15px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}